@media screen and (max-width: 1200px) {
  .header-menu-item a {
    margin: 0px 10px;
  }
}
@media screen and (max-width: 992px) {
  .header {
    padding: 15px 0;
    border-bottom: 1px solid #B9BECF;
  }
  .header .container {
    position: relative;
  }
  .header .logo {
    margin-bottom: 0;
  }
  .header .logo img {
    vertical-align: middle;
  }
  .header-name {
    display: none;
  }
  .header-menu {
    position: absolute;
    top: 41px;
    left: 0;
    padding: 10px 15px;
    flex-wrap: wrap;
    width: 100%;
    max-height: 0px;
    overflow: hidden;
    background-color: #fff;
    z-index: 99;
    transition: max-height 0.5s, easy-in-out;
  }
  .header-menu-item {
    width: 100%;
    padding: 7px 15px;
  }
  .header-menu-item:hover {
    background-color: #E7EAF5;
  }
  .header-menu-mob {
    position: relative;
    margin-left: 30px;
    width: 30px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
  }
  .header-menu-mob span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 2px;
    background-color: #000;
    transition: all 0.5s;
  }
  .header-menu-mob span:first-child {
    top: 50%;
  }
  .header-menu-mob span:last-child {
    top: 100%;
  }
  .header-menu-mob.active span {
    transform: rotate(-45deg);
    top: 10px;
  }
  .header-menu-mob.active span:first-child, .header-menu-mob.active span:last-child {
    transform: rotate(45deg);
  }
  .header-call {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 35px;
    height: 35px;
  }
  .header-call svg {
    width: 13px;
    height: 13px;
  }

  .main {
    padding: 21px 0;
  }
  .main .social {
    display: none;
  }
  .main-title {
    margin-bottom: 17px;
    font-size: 30px;
    font-weight: 500;
    line-height: 40px;
  }
  .main-desc {
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.02em;
  }

  .features {
    padding-top: 0;
    padding-bottom: 20px;
  }
  .features-item {
    margin-bottom: 20px;
  }
  .features-number {
    margin-right: 30px;
    flex-basis: 86px;
  }

  .overflow-slider-item {
    margin-right: 32px;
  }
  .overflow-slider img {
    max-height: 200px;
  }

  .why {
    padding-top: 100px;
    padding-bottom: 50px;
  }
  .why-row {
    margin-bottom: 50px;
  }
  .why-row img {
    display: block;
    margin: auto;
    margin-bottom: 20px;
  }
  .why-row:nth-child(2n) {
    flex-direction: column-reverse;
  }
  .why-row:nth-child(2n) img {
    margin-top: 20px;
  }
  .why-edge {
    flex-wrap: wrap;
  }
  .why-edge-icon {
    margin-right: 0;
    margin-bottom: 18px;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .section-subtitle {
    margin-bottom: 40px;
  }

  .admission {
    padding: 50px 0;
  }
  .admission .section-title {
    text-align: center;
  }
  .admission .section-subtitle {
    text-align: center;
  }
  .admission-info {
    flex-wrap: wrap;
  }
  .admission-img {
    margin-right: 0;
    margin-bottom: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .admission-speciality {
    margin-right: 0;
    margin-bottom: 20px;
    width: 100%;
    max-width: 100%;
  }
  .admission-price {
    position: static;
    width: 100%;
  }
  .admission-price-date {
    margin-bottom: 20px;
  }
  .admission-btn {
    bottom: 20px;
    margin: 0px 15px;
    width: calc(100% - 30px);
    text-align: center;
  }
  .admission-btn svg {
    right: 50%;
    transform: translate(55px, -50%);
  }
  .admission-btn.show svg {
    transform: translate(55px, -50%) rotate(180deg);
  }
  .admission .accordion-panel {
    flex-wrap: wrap;
  }
  .admission .accordion-panel.show {
    margin-top: 10px;
  }
  .admission .accordion-panel-program {
    order: 1;
  }
  .admission-mini svg {
    margin-right: 15px;
  }
  .admission-mini-name {
    font-size: 21px;
  }
  .admission-mini-price {
    margin-right: 60px;
    font-size: 20px;
  }
  .admission-panel-info {
    margin-bottom: 20px;
  }
  .admission-accordion {
    position: relative;
    padding-bottom: 80px;
  }

  .stlive {
    padding: 50px 0;
  }
  .stlive-main {
    padding: 50px 60px 0;
  }

  .why-work {
    padding: 50px 0;
  }
  .why-work-bottom {
    padding: 48px 45px;
    font-size: 22px;
  }

  .career {
    padding: 50px 0;
  }
  .career-img {
    text-align: center;
  }
  .career-img svg {
    right: 10px;
    bottom: -10px;
    width: 50px;
    height: 50px;
  }
  .career .admission-btn {
    bottom: 0;
    width: 100%;
    margin: 0;
    margin-top: 20px;
  }
  .career-author {
    margin-bottom: 30px;
  }
  .career-icon {
    padding: 50px 0;
  }

  .intensive {
    padding: 50px 0;
  }
  .intensive-course {
    padding: 40px 60px;
  }
  .intensive-info {
    width: 100%;
  }
  .intensive-form {
    width: 100%;
  }
  .intensive-form .form {
    margin-top: 40px;
    max-width: 100%;
  }
  .intensive-form .form-policy {
    margin-top: 17px;
    margin-bottom: 20px;
  }

  .educator {
    padding: 50px 0;
  }

  .respect {
    padding: 50px 0;
  }
  .respect .slick-slide {
    margin: 0px 1px;
  }
  .respect-slider-star-desc {
    margin-top: 20px;
  }

  .contact {
    padding-top: 0;
  }
  .contact .form .iti {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 768px) {
  .mob-none {
    display: none;
  }

  .main, .why, .admission, .intensive-course, .respect, .contact-form {
    background-image: none;
  }

  .why, .admission, .stlive, .why-work, .career, .intensive, .educator, .respect, .contact {
    padding: 40px 0;
  }

  .header-call {
    right: 15px;
  }
  .header-menu {
    padding-top: 0;
    padding-bottom: 0;
  }
  .header-menu-item {
    text-align: center;
  }
  .header-menu-item a {
    margin: 0;
    padding: 6px 0px;
    width: 100%;
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    font-weight: 600;
  }
  .header-menu-mob {
    margin-bottom: 3px;
    width: 20px;
    height: 14px;
  }
  .header .logo img {
    max-width: 130px;
  }

  .overflow-slider-item {
    max-width: 254px;
  }

  .features {
    padding-bottom: 0;
  }
  .features-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    font-family: "Source Sans Pro";
  }
  .features-number {
    margin-top: 0;
    min-width: 76px;
    font-size: 30px;
  }

  .section-title {
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0.02em;
  }
  .section-subtitle {
    margin-bottom: 20px !important;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
  }

  .why-row {
    margin-bottom: 20px;
  }
  .why-row:nth-child(2n) img {
    margin-top: 0;
  }
  .why-edge {
    margin-bottom: 20px;
  }
  .why-edge-text {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.02em;
  }
  .why-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    font-family: "Source Sans Pro";
  }

  .admission-accordion {
    margin-bottom: 0;
    padding-right: 0;
    padding-left: 0;
    box-shadow: none;
  }
  .admission-name {
    margin-bottom: 20px;
    font-size: 22px;
    line-height: 27px;
  }
  .admission-speciality-title {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
  }
  .admission-speciality-name {
    padding: 6px 16px;
    margin-bottom: 12px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    line-height-letter-spacing: 0.02em;
  }
  .admission-price-title {
    margin-bottom: 5px;
    font-size: 22px;
    line-height: 27px;
  }
  .admission-price-date {
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
  }
  .admission-btn {
    margin: 0;
    width: 100%;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
  }
  .admission-mini {
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #B9BECF;
    border-radius: 0px;
  }
  .admission-mini-img {
    margin-right: 7px;
  }
  .admission-mini-img svg {
    margin-right: 0;
    width: 29px;
    height: 29px;
  }
  .admission-mini-name {
    padding-right: 40px;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    font-weight: 500;
    color: #000;
  }
  .admission-mini-close span {
    top: 28px;
    width: 30px;
  }
  .admission-mini-price {
    margin-right: 0;
    height: 0;
    font-size: 0;
  }
  .admission-mini-panel {
    padding-left: 0;
  }
  .admission-mini .admission-panel-info {
    padding-right: 0;
    margin-bottom: 0;
  }
  .admission-mini .admission-panel-info p {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
  }
  .admission-panel-program-hours {
    width: 100% !important;
  }
  .admission-price-date span {
    display: inline-block;
  }

  .stlive-main {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
  }
  .stlive-title {
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0.02em;
  }
  .stlive-text {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
  }

  .why-work-list::before {
    left: 20px;
  }
  .why-work-item::before {
    width: 40px;
    height: 40px;
    top: -7px;
  }
  .why-work-accordion .accordion-show {
    right: 0;
    width: 100%;
    align-items: flex-start;
  }
  .why-work-accordion-top {
    width: 100%;
  }
  .why-work-accordion-panel {
    padding-left: 0;
    padding-right: 0;
    margin: 0px -46px;
  }
  .why-work-accordion-panel__text {
    position: relative;
    background-color: #fff;
  }
  .why-work-accordion__name {
    padding-left: 55px;
    padding-right: 20px;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.02em;
    font-weight: 500;
  }
  .why-work-accordion-info__top {
    position: relative;
    left: 45px;
    width: calc(100% - 80px);
  }
  .why-work-bottom {
    padding: 23px 23px 17px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    line-height-letter-spacing: 0.02em;
    font-weight: 500;
    background-image: url("../img/live/bottom-m.jpg");
  }

  .career-desc {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
  }
  .career-author {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
  }
  .career-icon {
    padding: 28px 0;
  }
  .career-icon-item img {
    max-height: 50px;
  }

  .intensive-course {
    padding: 0;
    box-shadow: none;
  }
  .intensive-title {
    font-size: 28px;
    font-weight: 500;
    line-height: 36px;
    text-align: center;
  }
  .intensive-info {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    font-family: "Source Sans Pro";
    text-align: center;
  }
  .intensive .form .input {
    margin-bottom: 0;
    padding: 12px 25px;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    font-family: "Source Sans Pro";
  }
  .intensive .form-policy {
    margin-top: 30px;
  }
  .intensive .form-btn {
    padding: 13px 36px;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    font-family: "Source Sans Pro";
    text-align: left;
  }
  .intensive .form-btn::before {
    right: 36px;
  }

  .educator .section-subtitle {
    margin-bottom: 40px !important;
  }
  .educator-img {
    margin-bottom: 20px;
  }
  .educator-img img {
    width: 100%;
  }
  .educator-ceo {
    margin-bottom: 20px;
  }
  .educator-btn {
    padding: 13px 9px;
    width: 100%;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    font-weight: 400;
    font-family: "Source Sans Pro";
  }

  .respect {
    overflow: hidden;
  }
  .respect-slider {
    padding-top: 40px;
  }
  .respect .section-title, .respect .section-subtitle {
    text-align: left;
  }
  .respect-icon {
    margin-bottom: 0;
    justify-content: space-between;
  }
  .respect-icon::after {
    display: none;
  }
  .respect-icon-item {
    padding: 24px 0px;
    flex-basis: 50%;
    border: none;
  }
  .respect-icon-item img {
    max-width: 120px;
  }
  .respect-icon-item:nth-child(odd) {
    border-right: 1px solid #B9BECF;
  }
  .respect-icon-item:nth-child(-n+4) {
    border-bottom: 1px solid #B9BECF;
  }
  .respect-slider-more {
    margin-top: 40px;
    padding: 13px 0;
    width: 100%;
    border: 1px solid #B9BECF;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #80869B;
    text-align: center;
  }
  .respect-slider-star {
    position: relative;
    max-height: 0%;
  }
  .respect-slider-star.show {
    max-height: 100%;
  }
  .respect-slider-star-desc {
    min-height: 100px;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    font-family: "Source Sans Pro";
  }
  .respect-slider-star-name {
    margin-bottom: 20px;
    font-size: 22px;
    line-height: 26px;
    font-weight: 500;
  }
  .respect-slider-star-img {
    margin-bottom: 20px;
  }
  .respect-slider-star-img img {
    width: 100%;
  }
  .respect-slider-star-social {
    position: absolute;
    right: -200px;
    top: 60px;
    flex-direction: column;
    transition: right 1s, easy-in-out;
  }
  .respect-slider-star-social.show {
    right: 5px;
  }
  .respect-slider-star-social-more {
    position: absolute;
    top: 9px;
    right: 9px;
  }
  .respect-slider-star-social a {
    margin: 0;
    margin-bottom: 10px;
    padding: 6px;
    display: flex;
    border-radius: 10px;
    background-color: #fff;
  }
  .respect-slider .accordion-work.active svg {
    transform: translate(55px, -50%) rotate(180deg);
  }
  .respect-slider .panel {
    transition: max-height 0.2s, padding 0.2s, margin 0.2s, easy-in-out;
  }
  .respect-slider .admission-btn {
    width: calc(100% - 30px);
    left: 15px;
    bottom: 0;
  }

  .contact-form {
    padding: 0;
    box-shadow: none;
  }
  .contact-title {
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 30px;
    text-align: center;
  }
  .contact .form .input, .contact .form .dropdown {
    margin-bottom: 20px;
    padding: 12px 13px;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: center;
  }
  .contact .form .dropdown {
    display: flex;
    align-items: center;
    text-align: left;
    max-height: 50px;
  }
  .contact .form .dropdown .select {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
  }
  .contact .form .iti .input {
    padding-left: 50px !important;
  }
  .contact .form .input:last-child {
    margin-bottom: 30px;
  }
  .contact .form-policy {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    line-height-letter-spacing: 0.02em;
  }
  .contact .form-btn {
    padding: 13px 34px;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
  }
  .contact .form-btn::before {
    right: 34px;
  }

  .footer {
    padding-top: 40px;
    padding-bottom: 12px;
  }
  .footer-top {
    padding: 20px 0;
  }
  .footer-contact {
    padding-top: 30px;
  }
  .footer .logo {
    margin-bottom: 20px;
  }
  .footer-text {
    margin-bottom: 40px;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
  }
  .footer-title {
    margin-bottom: 20px;
    font-size: 22px;
  }
  .footer-title span {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
  }
  .footer-phone {
    margin-bottom: 20px;
    font-size: 24px;
  }
  .footer-phone span {
    font-size: 20px;
  }
  .footer-phone:last-child {
    margin-bottom: 20px;
  }

  .footer .social-item {
    margin: 0px 14px;
  }
  .footer .social-item:first-child {
    margin-left: 0;
  }
  .footer .social-item:last-child {
    margin-right: 0;
  }

  .modal input#modal-phone {
    text-align: left;
  }
  .modal-body {
    margin: 0px 15px;
    padding: 25px 16px;
    background-image: none;
  }
  .modal-title {
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 36px;
    text-align: center;
  }
  .modal .form .input {
    padding: 12px 15px;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: center;
  }
  .modal .form .input:last-child {
    margin-bottom: 30px;
  }
  .modal .form-policy {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    line-height-letter-spacing: 0.02em;
  }
  .modal .form-btn {
    padding: 13px 39px;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
  }
  .modal .form-btn::before {
    right: 39px;
  }
  .modal-close {
    display: none;
  }

  .form-policy {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    line-height-letter-spacing: 0.02em;
  }
}